{
  "extends": ["eslint:recommended"],

  "env": {
    "node": true,
    "es6": true
  },

  "parser": "babel-eslint",

  "rules": {
    "indent": [2, 2, { "SwitchCase": 1 }],
    "quotes": [2, "single"],
    "new-cap": [2, { "capIsNewExceptions": ["Deferred", "Map", "List", "Set"] }],
    "max-params": [1, 6],
    "max-len": [1, 100],
    "no-console": 0,
    "no-debugger": 1
  }
}
